html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html, body, .event-details-container, .event-form, .label {
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.title {
    padding-top: 5px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.subtitle {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.text-input {
    padding: 5px;
    width: 20%; /* Adjust the width as needed */
    margin: 10px auto; /* Center horizontally */
    display: block; /* Ensure inputs take full width */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.43);
    color: #fff; /* Text color */
    font-size: 16px;
    text-align: left; /* Center-align the input text */
}

input {
    background-color: transparent;
    border: none; /* Remove borders */
    outline: none; /* Remove the default focus outline (optional) */
}

.content-container {
    background-color: rgba(255, 255, 255, 0.1); /* Add transparency */
    backdrop-filter: blur(5px); /* Add a blur effect to the background */
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto; /* Center align the container horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-content: flex-start;
    justify-content: left;
    padding-left: 20px;
    margin-bottom: -10px;
    background: linear-gradient(45deg, #FF69B4, #FF7B8A, #ffb45e, #FFA74A, #FFC943, #FFED41, #FF69B4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 50% 50%;
    animation: gradientScroll 30s linear infinite reverse;
}

@keyframes gradientScroll {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.sub-logo {
    display: flex;
    align-content: flex-start;
    justify-content: left;
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: -2px 0 4px rgba(0, 0, 0, 0.5), 2px 0 4px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    max-width: 290px;
}

.tables-container {
    display: flex;
    flex-direction: row; /* Arrange the tables side by side */
    justify-content: space-between; /* Add space between the tables */
    align-items: flex-start; /* Align the tables to the top */
}

.table-container {
    flex: 1; /* Make the tables take up equal width within the container */
}

.table-heading {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    padding-top: 5px;
}

/*.table-container {*/
/*    background-color: rgba(255, 255, 255, 0.1); !* Add transparency *!*/
/*    backdrop-filter: blur(5px); !* Add a blur effect to the background *!*/
/*    border-radius: 10px;*/
/*    max-width: 1000px;*/
/*    margin: 0 auto; !* Center align the container horizontally *!*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
/*}*/

.table {
    padding-left: 300px;
    border-collapse: collapse;
    margin: 0 auto; /* Center align the container horizontally */
    font-size: 1rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.table thead tr {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 0.5rem 0.7rem;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: all 0.1s ease-in;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: white;
}

.table tbody tr:hover,
.table tbody tr.active-row:hover {
    background: #6f6fff;
}

.table tbody tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.1)
}

table tbody tr:last-of-type {
    border-bottom: 4px solid rgb(255, 255, 255);
}

.social-logo {
    width: 50px;
    height: auto;
    padding-top: 250px;
    margin-left: 940px;
}